@import 'variables';
h1{
    color: $red-color;
}
h2{
    color: blue;
}
.card-item{
    margin-top: 12px;    
}
.Checkbox{
    width: 120px;
    margin: 0 16px;// số đầu là trên dưới số thứ 2 là trái phải
}
