<div class="mt-4">
  <h3>
    Them San Pham
  </h3>
  <form method="POST" action="/product/store"> 
    <div class="mb-3">
      <label for="Name" class="form-label">Ten San Pham</label>
       <input type="text" class="form-control" id="Name" placeholder="Ten San Pham" name="Name">
    </div>
    <div class="mb-3">
      <label for="Description" class="form-label">Mo Ta San Pham</label>
        <input type="text" class="form-control" id="Description" placeholder="Mo Ta San Pham" name="Description"> 
    </div>
     <div class="mb-3">
      <label for="Image" class="form-label">Anh San Pham</label>
      <input id="Image" type="text" name="Image"> 
    </div>
    <div class="mb-3">
      <label for="Price" class="form-label">Gia San Pham</label>
       <input type="text" class="form-control" id="Price" placeholder="Gia San Pham" name="Price">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>