<div class="mt-4">
    <form action="">
        <div class="form-group">
            <label for="exampleInputEmail1">Key Word</label>
            <input type="text" name="q" class="form-control" id="exampleInputEmail1"  placeholder="Key Word">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>